
body
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Monserrat",sans-serif;
    background-color: thistle;

}
.app{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
 header p{
     font-size: 20px;
     
     

 }

 .pads
 {
     background:lightpink;
     width: 100%;
     display: flex;
     

 }
 .pads>div
 {
     height: 100px;
     width: 100px;
     flex:1;
 }
 .pad1{
     background: lightseagreen;
 }
.pad2{

    background: orchid;
}
.pad3{
    background: saddlebrown;
}
.pad4{
    background: seagreen;
}
.pad5{
    background: slateblue;
}
.pad6{
    background: yellow;
}


@keyframes jump{
    0%
{
bottom: 0%;
left: 20%;
}
50%
{
bottom: 50%;
left: 50%;
}
100%
{
bottom: 0%;
left: 80%;
}

}

.visual > div{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: 20%;
    bottom: 0%;
    z-index:-1;
}

